@{
    ViewData["Title"] = "Home Page";
}


<body class="body-index">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about Super Heros from the Marvel Universe!</a>.</p>
    </div>
</body>