@{
    ViewData["Title"] = "Home Page";
}


<body class="body-index">
    <div class="text-center">
        <h1 class="display-4 rob-txt">Welcome</h1>
        <p class="rob-txt">Learn about Super Heros from the Marvel Universe!</p>
    </div>
</body>